.footer {
	background-color: var(--mantine-color-body);
	border-top: 1px solid var(--mantine-color-default-border);
}

.listItem {
	text-align: end;

	@include smaller-than($mantine-breakpoint-md) {
		text-align: center;
	}
}

.link {
	transition: 0.25s all ease;

	color: var(--mantine-color-dimmed);

	@include hover {
		text-decoration: none;

		color: var(--mantine-color-anchor);
	}
}
