.navbar {
	// background-color: var(--mantine-color-body);
	border-bottom: rem(1px) solid var(--mantine-color-default-border);
	padding: var(--mantine-spacing-xs) 0;
}

.logo {
	width: 40px;
	height: 40px;

	@include smaller-than($mantine-breakpoint-xs) {
		width: 32px;
		height: 32px;
	}
}
