.link {
  padding: var(--mantine-spacing-md) 0;
  font-size: var(--mantine-font-size-sm);
  border-bottom: 2px solid transparent;
  transition: 0.25s color ease;

  @include hover {
    color: var(--mantine-color-pri-9);
    border-bottom: 2px solid var(--mantine-color-pri-9);
  }
}

.linkActive {
  font-weight: bold;
  border-bottom: 2px solid var(--mantine-color-default-border);
}
