.dropdown {
  background-color: light-dark(
    var(--mantine-color-body),
    var(--mantine-color-dark-8)
  );
  border: 0px transparent;
}

.item {
  transition: 0.25s all ease;

  @include hover {
    background-color: light-dark(
      var(--mantine-color-pri-light),
      var(--mantine-color-dark-6)
    );

    .itemLabel {
      color: var(--mantine-color-pri-6);
    }
  }
}

.itemActive {
  font-weight: bold;
  background-color: light-dark(
    var(--mantine-color-pri-light),
    var(--mantine-color-dark-6)
  );
}

.itemLabel {
  color: var(--mantine-color-text);
}

.target {
  @include hover {
    cursor: pointer;
  }
}
