.root {
	@include larger-than($mantine-breakpoint-xs) {
		max-width: var(--mantine-breakpoint-xs);
	}

	@include larger-than($mantine-breakpoint-sm) {
		max-width: var(--mantine-breakpoint-sm);
	}

	@include larger-than($mantine-breakpoint-md) {
		max-width: var(--mantine-breakpoint-md);
	}

	@include larger-than($mantine-breakpoint-lg) {
		max-width: var(--mantine-breakpoint-lg);
	}

	@include larger-than($mantine-breakpoint-xl) {
		max-width: var(--mantine-breakpoint-xl);
	}
}
