.root {
	box-shadow: var(--mantine-shadow-xs);

	.icon {
		color: white;
	}

	&[data-variant="success"] {
		.icon {
			background-color: var(--mantine-color-teal-6);
		}
	}

	&[data-variant="warning"] {
		.icon {
			background-color: var(--mantine-color-yellow-6);
			color: black;
		}
	}

	&[data-variant="failed"] {
		.icon {
			background-color: var(--mantine-color-red-6);
		}
	}
}

.title {
	color: var(--mantine-color-text);
}

.description {
	color: var(--mantine-color-text);
}
