.root {
	background-color: light-dark(var(--mantine-color-pri-6));
}

.icon {
	background-color: light-dark(var(--mantine-color-sec-6));
}

.title {
	color: light-dark(var(--mantine-color-gray-3));
}

.description {
	color: light-dark(var(--mantine-color-gray-3));
}
